<div class="row">

  <div class="col-sm-4">

  </div>

  <div class="col-sm-3">    
    <p>You can group by item key providing key name as a string to <b>groupBy</b> input</p>
    <ng-select [items]="accounts" bindLabel="name" [loading]="peopleLoading"> </ng-select>
    <br/>
    <small>Selected: {{ selectedAccount | json }}</small>
    </div>
    </div> 
  
</div>
   

<main>
  <!-- <app-searchable-select
    [options]="complexOptions"
    [displayField]="'label'"
    [valueField]="'id'"
    label="Select an Item"
    placeholder="Choose an item"
  >
  </app-searchable-select> -->

  <app-bootstrap-select></app-bootstrap-select>

  
<!-- <div>
  <select class="form-control">
    <option value="">ccc</option>
    <option value="">ccc</option>
    <option value="">ccc</option>
    <option value="">ccc</option>
    <option value="">ccc</option>
  </select>
</div> -->

<!-- <div class="container">
  <h1 class="text-center">Welcome to Bootstrap in Angular!</h1>
  <button class="btn btn-primary">Click Me!</button>
</div> -->

  <!-- <div>
    <input type="file" (change)="handleFileInput($event)" />
  </div> -->
  <ul id="users">
    @for (user of users; track user.id){
    <li>
      <app-user
        [selected]="user.id === selectedUserID"
        [user]="user"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>

  @if(selectedUser){
  <app-tasks [selectedUser]="selectedUser" />
  } @else{
  <p id="fallback">Select a user to see their tasks!</p>
  }
</main>

<div class="buttons">
  <label>
    <input type="checkbox" name="check">
    <span></span>
    <i class="fa-solid fa-phone"></i>
  </label>
  <label>
    <input type="checkbox" name="check">
    <span></span>
    <i class="fa-solid fa-plane"></i>
  </label>
  <label>
    <input type="checkbox" name="check">
    <span></span>
    <i class="fa-solid fa-moon"></i>
  </label>
  <label>
    <input type="checkbox" name="check">
    <span></span>
    <i class="fa-solid fa-wifi"></i>
  </label>
  <label>
    <input type="checkbox" name="check">
    <span></span>
    <i class="fa-solid fa-volume-xmark"></i>
  </label>
  <label>
    <input type="checkbox" name="check">
    <span></span>
    <i class="fa-brands fa-bluetooth-b"></i>
  </label>
</div>


